body {
    background-color: gold;
    font-family: 'Roboto Slab', serif;
    color: rgba(90, 50, 0, 1);
}
header {
  text-align: center;
  font-family: 'Metal Mania', cursive;
  font-size: 30px;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px auto 0;
}
.container {
  padding-top: 150px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 20px;
  position: relative;
}
.progress-inner {
  border-radius: 20px;
  height: 10px;
  background: green;
  position: absolute;
}

.people {
  margin: 30px auto;
  padding: 0;
}

.person {
  display: inline-block;
  background-position: -150px !important;
  text-align: center;
  width: 300px;
  position: relative;
}

.person-name {
  font-weight: bold;
}

.enemy-true .person-name {
  color: red;
}
.enemy-false .person-name {
  color: green;
}

.killed:after {
  content: '\00d7';
  position: absolute;
  font-size: 150px;
  width: 150px;
  top: 0;
  left: 50%;
  margin-left: -75px;
}
.after {
  padding: 20px;
  border-radius: 5px;
}
.pass {
  color: green;
  background: rgba(0,255,0,0.1);
}
.fail {
  color: red;
  background: rgba(255,0,0,0.1);
}

#options {
  width: 30px;
  display: none;
}

.lesson-instructions {
  line-height: 1.5em;
}
label {
  font-size: 14px;
  color: #999;
}

code {
  font-family: monospace;
  background: #eee;
  color: #666;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.flash{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: yellow;
  display: none;
  text-align: center;
  font-size: 100px;
  color: red;
  font-family: 'impact';
  padding-top: 300px;
  z-index: 100;
}

header h1 {
  border: none;
}

header h1:before, header h1:after {
  content: " \2014 ";
  margin-right: 20px;
}
